html {
  // Always display the vertical scrollbar
  overflow-y: scroll;
}

body {
  background: url("images/NSLinenBackgroundPattern.png") repeat #f9f9f9;

  font-family: "Merriweather-Sans", serif;
  color: #393D51;
  font-size: $font-size-base;
}

#content {
  h1,
  h2 {
    text-rendering: optimizelegibility;
    font-smoothing: antialiased;

    font-family: "Merriweather", sans-serif;
    font-weight: lighter;
  }

  h1 {
    padding: 0 0 $line-height-computed 0; // TODO: in em
    margin: 0;

    font-size: $font-size-h2;

    @include large-screen {
      font-size: $font-size-h1;
      padding-bottom: $line-height-computed; // TODO: in em
    }
  }

  h2 {
    margin: $line-height-computed * 3 0 $line-height-computed/2 0; // TODO: in em

    font-size: $font-size-h3;

    @include large-screen {
      font-size: $font-size-h2;
    }
  }

  h3 {
    margin-bottom: $line-height-computed/2; // TODO: in em

    font-size: $font-size-h4;

    @include large-screen {
      font-size: $font-size-h3;
    }
  }

  h4 {
    font-size: $font-size-h4;
  }

  p,
  ul,
  ol,
  form {
    margin: 0 0 $line-height-computed 0; // TODO: in em
  }

  p,
  span,
  li,
  a,
  label {
    line-height: $line-height-project;

    @include large-screen {
      font-size: $font-size-body-large-screen;
    }
  }

  p {
    text-align: justify;
  }

  ul {
    padding-left: 1.5em;
  }

  li {
    margin-bottom: $line-height-computed / 2; // TODO: in em
  }

  a,
  a:visited {
    text-decoration: none;
    // TODO color: $actionColor;
    cursor: pointer;  // To have the pointer on anchors which don't have any href
  }

  /* TODO a:hover,
  a:focus {
    color: $actionColor;
  } */

  a,
  span {
    display: inline-block;  // For "width" declaration to work
  }
}

.mdnz-polyfill {
  display: none;
}

.list-header {
  margin-bottom: $line-height-computed / 2; // TODO: in em
}

.centered-contents {
  text-align: center;
}

.data-loading {
  background-image: url("images/loading.gif");
  width: 48px;
  height: 48px;

  margin: 0 auto;

  &.small {
    background-image: url("images/spinner_16x16.gif");
    width: 16px;
    height: 16px;
  }
}
