@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Regular.otf");
}
@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Merriweather-Sans";
  src: url("fonts/merriweather-sans/MerriweatherSans-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Merriweather-Sans";
  src: url("fonts/merriweather-sans/MerriweatherSans-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Regular.otf");
}
@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Light.otf");
  font-weight: lighter;
}
