.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.5em;

  box-shadow: $carousel-text-shadow;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;

  text-align: center;

  // Because we want to center it via negative left margin in Javascript
  display: none;
}
