@mixin paragraph {
  @include large-screen {
    max-width: $paragraph-width-large-screen;
    margin: 0 auto;
  }
}

#content {
  h2 {
    margin-top: $big-spacer-height;
  }

  .call-to-action {
    text-align: center;
    font-style: italic;

    margin: $big-spacer-height 0;

    font-size: $font-size-h4;

    @include large-screen {
      font-size: $font-size-h3;
    }

    > a {
      font-size: $font-size-h4;

      @include large-screen {
        font-size: $font-size-h3;
      }
    }
  }
}
