$action-color: #415F8D;

$page-side-padding: 1em;

$line-height-project: 1.75em;

$large-screen-min-width: 68.57142857142857em; // @ 14px = 960px

$strange-em-difference-for-large-screen-mq-breakpoint: 7.3em;

$large-screen-mq-breakpoint: $large-screen-min-width - $strange-em-difference-for-large-screen-mq-breakpoint;

$sprite-url: 'images/sprite';


// From Bootstrap
$font-size-base: 14px;
$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 23px;
$font-size-h4: 18px;


$font-size-body-large-screen: 16px;

$project-article-separator-width: 2em;

$project-article-width: ($large-screen-min-width - 2 * $page-side-padding) / 2 - $project-article-separator-width / 2;

$paragraph-width-large-screen: 47em;

$big-spacer-height: 100px;
