$page-side-padding: 1em;

$line-height-project: 1.75em;

$large-screen-min-width: 55em; // 55em @ 14px = 768px

$strange-em-difference-for-large-screen-mq-breakpoint: 5.5em;

$large-screen-mq-breakpoint: $large-screen-min-width - $strange-em-difference-for-large-screen-mq-breakpoint;

$sprite-url: 'images/sprite';

$field-width-search-pages: 16em;

$font-size-body-large-screen: 16px;

// From Bootstrap
$font-size-base: 14px;
$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor($font-size-base * $line-height-base); // ~20px
$font-size-h1: floor($font-size-base * 2.6); // ~36px
$font-size-h2: floor($font-size-base * 2.15); // ~30px
$font-size-h3: ceil($font-size-base * 1.7); // ~24px
$font-size-h4: ceil($font-size-base * 1.25); // ~18px
$carousel-text-shadow: 0 1px 2px rgba(0,0,0,.6);