#index {
  #content {
    // To have text centered on small screens.
    max-width: $project-article-width + 2 * $page-side-padding;
  }

  @include page-max-width;

  h1 {
    // For nicer text layout
    max-width: 18.5em;
    margin-left: auto;
    margin-right: auto;

    > p {
      font-size: inherit;
      text-align: center;
      line-height: 1.25em;
    }
  }

  h2 {
    text-align: center;
  }

  #i-can-list {
    @include paragraph;
  }

  #projects {
    article {
      @include large-screen {
        max-width: $project-article-width;
      }
    }

    h3 {
      margin-top: 0;
      text-align: center;
    }

    img:hover {
      @include large-screen {
        opacity: 0.8;
      }
    }
  }

  // Otherwise the anchor expands beyond $large-screen-min-width
  .project-pic-anchor {
    display: block;
  }

  .several-projects {
    @include large-screen {
      display: inline-block;

      // Otherwise the element is aligned to the bottom because of display inline-block
      vertical-align: top;
    }

    margin-bottom: 3em;
  }

  .lonely-project {
    display: block;
    margin: 0 auto;

    img {
      $article-width: 452;
      $image-width-hdpi: 332;

      max-width: percentage($image-width-hdpi / 2 / $article-width);
    }
  }

  #appear-showroom-article {
    @media screen and (min-width: $large-screen-mq-breakpoint) {
      padding-right: $project-article-separator-width;
    }
  }

  #technologies {
    > article {
      @include paragraph;
    }

    h3 {
      margin-bottom: 0.2em;
    }

    p {
      margin-top: 0;
    }
  }
}