@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen.otf"); }
@font-face {
  font-family: 'Oxygen';
  src: url("fonts/oxygen/Oxygen-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Open-Sans";
  src: url("fonts/open-sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf"); }
@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-It.otf");
  font-style: italic; }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Regular.ttf"); }
@font-face {
  font-family: 'Clear-Sans';
  src: url("fonts/clear-sans/ClearSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Clear-Sans";
  src: url("fonts/clear-sans/ClearSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Regular.otf"); }
@font-face {
  font-family: 'Fira-sans';
  src: url("fonts/fira-sans/FiraSansOT-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-RegularItalic.otf");
  font-style: italic; }
@font-face {
  font-family: "Fira-sans";
  src: url("fonts/fira-sans/FiraSansOT-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Regular.otf"); }
@font-face {
  font-family: 'Karla';
  src: url("fonts/karla/Karla-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Karla";
  src: url("fonts/karla/Karla-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Regular.otf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
#content {
  width: 100%;
  margin: 0 auto;
  max-width: 55em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lt-ie9 #content {
  width: 900px;
  padding-left: 30px;
  padding-right: 30px; }

img {
  max-width: 100%; }

html {
  overflow-y: scroll; }

body {
  /* TODO background-color: $bgColor;
  background: url('images/bg-content.png') repeat; */
  font-family: "Open-Sans", sans-serif; }

#content {
  /* TODO a:hover,
  a:focus {
    color: $actionColor;
  } */ }
  #content h1,
  #content h2 {
    text-align: center;
    text-rendering: optimizelegibility;
    font-smoothing: antialiased; }
  #content h1 {
    padding: 0 0 20px 0;
    margin: 0;
    font-family: "Oxygen", sans-serif;
    font-size: 30px;
    font-weight: bold; }
    @media screen and (min-width: 49.5em) {
      #content h1 {
        font-size: 36px;
        padding-bottom: 20px; } }
  #content h2 {
    margin: 10px 0 10px 0;
    font-family: "Oxygen", sans-serif;
    font-size: 18px; }
    @media screen and (min-width: 49.5em) {
      #content h2 {
        font-size: 24px; } }
  #content p,
  #content ul,
  #content ol,
  #content form {
    margin-bottom: 20px; }
  #content p,
  #content span,
  #content li,
  #content a,
  #content label {
    line-height: 1.75em; }
  #content p {
    text-align: justify; }
  #content li {
    margin-bottom: 10px; }
  #content a,
  #content a:visited {
    text-decoration: none;
    cursor: pointer; }
  #content a,
  #content span {
    display: inline-block; }

.mdnz-polyfill {
  display: none; }

.list-header {
  margin-bottom: 10px; }

.centered-contents {
  text-align: center; }

.data-loading {
  background-image: url("images/loading.gif");
  width: 48px;
  height: 48px;
  margin: 0 auto; }
  .data-loading.small {
    background-image: url("images/spinner_16x16.gif");
    width: 16px;
    height: 16px; }

.alert.floating {
  position: fixed;
  left: 50%;
  margin-top: -2.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  text-align: center;
  display: none; }

/*# sourceMappingURL=main.css.map */
