@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Regular.otf"); }
@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Merriweather-Sans";
  src: url("fonts/merriweather-sans/MerriweatherSans-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Merriweather-Sans";
  src: url("fonts/merriweather-sans/MerriweatherSans-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Merriweather-Sans';
  src: url("fonts/merriweather-sans/MerriweatherSans-Light.otf");
  font-weight: lighter; }
@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Regular.otf"); }
@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Merriweather';
  src: url("fonts/merriweather/Merriweather-Light.otf");
  font-weight: lighter; }
/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
  box-sizing: inherit; }

img,
iframe,
embed {
  max-width: 100%; }

a,
span {
  display: inline-block; }

html {
  overflow-y: scroll;
  box-sizing: border-box; }

body {
  background: url("images/NSLinenBackgroundPattern.png") repeat #f9f9f9;
  font-family: "Merriweather-Sans", serif;
  color: #31476a;
  font-size: 14px; }

h1,
h2 {
  text-rendering: optimizelegibility;
  font-smoothing: antialiased;
  font-family: "Merriweather", sans-serif;
  font-weight: lighter; }

h1 {
  font-size: 32px;
  text-align: center; }
  @media screen and (min-width: 61.27143em) {
    h1 {
      font-size: 42px;
      margin-top: 10%; } }

h2 {
  font-size: 20px;
  margin-top: 0; }
  @media screen and (min-width: 61.27143em) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 18px;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 61.27143em) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 18px; }

p,
span,
li,
a,
label {
  line-height: 1.75em; }
  @media screen and (min-width: 61.27143em) {
    p,
    span,
    li,
    a,
    label {
      font-size: 16px; } }

p {
  text-align: justify; }

ul {
  padding-left: 1.5em; }

a,
a:visited {
  color: #c40064;
  cursor: pointer; }

a:hover,
a:focus {
  color: #c40064;
  text-decoration: none; }

.centered-contents {
  text-align: center; }

.content-section {
  background-color: white;
  padding: 5% 0;
  margin-top: 10%; }

.call-to-action {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  padding: 0 0.77778em;
  margin: 10% 0; }
  @media screen and (min-width: 61.27143em) {
    .call-to-action {
      font-size: 20px; } }
  .call-to-action > a {
    font-size: 18px; }
    @media screen and (min-width: 61.27143em) {
      .call-to-action > a {
        font-size: 20px; } }

#index #intro {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 34.28571em;
  margin-top: 10%; }
  @media screen and (min-width: 61.27143em) {
    #index #intro {
      max-width: 68.57143em; } }
  #index #intro:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 61.27143em) {
    #index #intro > img,
    #index #intro > div,
    #index #intro > h1 {
      float: left; } }
  #index #intro > img {
    width: 90px;
    margin-top: 1em; }
#index .text-bubble-origin {
  background: url("images/text-bubble-origin.png");
  width: 16px;
  height: 16px;
  margin: 0 auto; }
  @media screen and (min-width: 61.27143em) {
    #index .text-bubble-origin {
      margin: 3.8em 0 0 1em;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); } }
#index h1 {
  max-width: 18.5em;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.3em;
  padding: 0.2em; }
  #index h1 > p {
    font-size: inherit;
    text-align: center;
    line-height: 1.25em;
    margin: 0; }
    #index h1 > p:first-child {
      margin-bottom: 1em; }
#index h2 {
  text-align: center; }
#index #i-can > h2 {
  margin-top: 10%; }
#index #i-can > div {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 34.28571em; }
  @media screen and (min-width: 61.27143em) {
    #index #i-can > div {
      max-width: 68.57143em; } }
  @media screen and (min-width: 61.27143em) {
    #index #i-can > div {
      max-width: 50em;
      margin: 0 auto; } }
#index #projects > h2 {
  padding: 0 0.7em; }
#index #projects > div {
  margin: 0 auto;
  text-align: center;
  max-width: 34.28571em; }
  @media screen and (min-width: 61.27143em) {
    #index #projects > div {
      max-width: 68.57143em; } }
#index #projects ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0; }
#index #projects li {
  margin: 0 1em 5% 1em;
  max-width: 452px; }
  @media screen and (min-width: 61.27143em) {
    #index #projects li {
      font-size: 14px;
      display: inline-block; } }
  #index #projects li:last-child {
    margin-bottom: 0; }
  #index #projects li > a {
    display: block; }
#index #projects h3 {
  margin-top: 0;
  text-align: center; }
#index #projects img {
  /* TODO Commented because of visual glitch
  @include transition(opacity 600ms ease 0s); */ }
  @media screen and (min-width: 61.27143em) {
    #index #projects img:hover {
      opacity: 0.8; } }
#index #projects #train-damage-item img {
  max-width: 36.72566%; }
#index #experience > article,
#index #experience > div {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 34.28571em; }
  @media screen and (min-width: 61.27143em) {
    #index #experience > article,
    #index #experience > div {
      max-width: 68.57143em; } }
  @media screen and (min-width: 61.27143em) {
    #index #experience > article,
    #index #experience > div {
      max-width: 50em;
      margin: 0 auto; } }
#index #experience h3 {
  margin-bottom: 0.2em; }
#index #experience p {
  margin-top: 0; }
#index #experience > p {
  margin-top: 2em; }

#appear-showroom #content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 68.57143em; }
  @media screen and (min-width: 61.27143em) {
    #appear-showroom #content {
      max-width: 68.57143em; } }
#appear-showroom #intro,
#appear-showroom h2 {
  margin-top: 10%; }
#appear-showroom img {
  display: block;
  margin-bottom: 10%; }
#appear-showroom .centered-contents {
  margin: 10% 0; }

#train-damage #content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 68.57143em; }
  @media screen and (min-width: 61.27143em) {
    #train-damage #content {
      max-width: 68.57143em; } }
  #train-damage #content > div {
    text-align: center; }
#train-damage #intro,
#train-damage h2 {
  margin-top: 10%; }
#train-damage ul {
  display: inline;
  list-style-type: none;
  padding: 0; }
  #train-damage ul p {
    text-align: center; }
#train-damage li {
  display: inline-block;
  margin: 0 1em 1em 1em;
  width: 18.7em; }
  @media screen and (min-width: 61.27143em) {
    #train-damage li {
      width: 17.3em; } }
#train-damage img {
  width: 100%; }
#train-damage .centered-contents {
  margin: 10% 0; }

/*# sourceMappingURL=main.css.map */
