@main("8b", "appear-showroom") {
<!--
    Content
-->
<div id="content">
    <h1>Appear Showroom website</h1>

    <p id="intro"><a href="https://www.appearshowroom.com" target="_blank">www.appearshowroom.com</a> is a website
        showcasing the features of the <a href="https://www.appeariq.com" target="_blank">Appear IQ</a> product. Graphic
        design was done by <a href="http://www.lwyd.co.uk" target="_blank">Tom Knowles</a>. It contains some advanced
        features, such as letting the user interact with single-page webapps inside an iframe. Those are mobile JavaScript
        apps developed with Appear IQ.</p>

    <h2>Work</h2>
    <p>I coded the backend of the website (<a href="https://www.playframework.com">Play Framework Scala</a> & <a
            href="http://couchdb.apache.org">CouchDB</a> database), and some of the frontend (based on the <a
            href="http://spinejs.com">SpineJS</a> MVC framework.).</p>

    <h2>Screenshots</h2>
    <article>
        <p>Homepage</p>
        <img src="/assets/images/appear-showroom/home.png"/>
    </article>

    <article>
        <p>Page listing the mobile webapps available in the showroom. Those apps are hybrid mobile webapps (pure JavaScript).</p>
        <img src="/assets/images/appear-showroom/app-list-2.png"/>
    </article>

    <article>
        <p>After choosing a webapp, you can configure it several ways: such as its layout and data on the backend. The right section
        contains an iframe where the JavaScript webapp is executed. The app can be tested in real time!</p>
        <img src="/assets/images/appear-showroom/configure.png"/>
    </article>

    <article>
        <p>It's so fun to play with the webapp in the iframe that we added a real-size preview.</p>
        <img src="/assets/images/appear-showroom/preview.png"/>
    </article>

    <article>
        <p>On this page, it's possible to select which apps are published on your mobile device.</p>
        <img src="/assets/images/appear-showroom/publish.png"/>
    </article>

    <div class="centered-contents">
        <a href="/" class="glyphicon glyphicon-home"></a>
    </div>
</div>

} {
<!--
    Javascript
-->

}