@main("8b", "index") {
<!--
    Content
-->
<section id="intro" class="centered-contents">
    <div class="me"></div>
    <div class="text-bubble-origin"></div>
    <h1 class="text-bubble"><p>Hi! I’m Christophe, an experienced web developer starting freelancing.</p>
        <p>Do you need help with your project?</p></h1>
</section>

<section id="i-can" class="hidden-before-bubble-animation">
    <h2>I can</h2>

    <div>
        <ul>
            <li>Take care of your web project from idea to launch</li>
            <li>Complement your IT team (doing frontend web, backend or database development)</li>
            <li>... by working remotely, or joining your office in Stockholm</li>
        </ul>
    </div>
</section>

<section id="projects" class="content-section hidden-before-bubble-animation">
    <h2>Some projects I have worked on</h2>

    <div>
        <ul><!--
         --><li>
                <h3>Appear Showroom website</h3>

                <a href="/projects/appear-showroom">
                    <img src="/assets/images/portfolio-preview/showroom-app-list.png"/>
                </a>

                <p>A website showcasing the features of the Appear IQ product.</p>

                <div class="centered-contents">
                    <a href="/projects/appear-showroom" class="more-details">More details</a>
                </div>
            </li><!--

         --><li>
                <h3>Site Diary tablet webapp</h3>

                <a href="/projects/site-diary">
                    <img src="/assets/images/portfolio-preview/site-diary-event-detail.png"/>
                </a>

                <p>A cross-platform single-page webapp, accessing native features such as the camera (via
                    Cordova).</p>

                <div class="centered-contents">
                    <a href="/projects/site-diary" class="more-details">More details</a>
                </div>
            </li><!--

         --><li>
                <h3>Train damage mobile webapp</h3>

                <a class="centered-contents" href="/projects/train-damage">
                    <img src="/assets/images/portfolio-preview/train-damage-type.png" id="train-damage-portfolio-preview-img"/>
                </a>

                <p>A cross-platform single-page webapp, accessing native features such as the camera (via
                    Cordova).</p>

                <div class="centered-contents">
                    <a href="/projects/train-damage" class="more-details">More details</a>
                </div>
            </li><!--
     --></ul>
    </div>
</section>

<section id="references" class="hidden-before-bubble-animation">
    <h2>A few references</h2>

    <div>
        <ul><!--
         --><li>
                <blockquote>
                    <p class="text-bubble">Christophe is not only a professional and skillful developer, but also a very sharp, honest and helpful citizen. Working with him brings clarity to complex visions.</p>
                    <div class="text-bubble-origin"></div>
                    <footer>- Sharif Shawky, Citizen Hive</footer>
                </blockquote>
            </li><!--

         --><li>
                <blockquote>
                    <p class="text-bubble">Christophe was very easy to work with and tailored the site to do exactly what we needed it to, taking a complicated concept and making it simple for the user. The site is clean, easy to use, and extremely efficient. I would highly recommend using Christophe.</p>
                    <div class="text-bubble-origin"></div>
                    <footer>- Mike Monetta, Wolf PAC</footer>
                </blockquote>
            </li><!--
     --></ul>
    </div>
</section>

<p class="call-to-action hidden-before-bubble-animation">Get in touch!<br/>
    <a href="mailto:christophe@@8b.nu"><span class="glyphicon glyphicon-envelope"></span>christophe@@8b.nu</a>
</p>

<section id="experience" class="content-section hidden-before-bubble-animation">
    <h2>I know these technologies</h2>

    <article>
        <h3>Frontend web</h3>
        <p>JavaScript, jQuery, Spine.js, Backbone.js, Ember.js, AngularJS, HTML5, CSS3, Sass, Handlebars</p>
    </article>

    <article>
        <h3>Backend programming</h3>
        <p>Java, Scala, web services, Play Framework, .NET framework, PHP, Firebase</p>
    </article>

    <article>
        <h3>Database</h3>
        <p>MySQL, PostgreSQL, Oracle, SQL Server, Firebase</p>
    </article>

    <article>
        <h3>Packaged solutions</h3>
        <p>Wordpress, Shopify</p>
    </article>

    <div><!-- This wrapper is because the width of the element is set in em -->
        <p><a href="https://dl.dropboxusercontent.com/u/28868997/CV_Christophe_Bram_jul_2014.pdf" target="_blank">My CV</a>
            contains some more details about my professional experience.</p>
    </div>
</section>

<p class="call-to-action hidden-before-bubble-animation">Feel welcome to <a href="mailto:christophe@@8b.nu">contact me</a> if you have any
    question!</p>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CBR.Controllers.Index({
            el: "#content"
        }).run();
    });
</script>

}