@(title: String, page: String)(content: Html)(javascript: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@title</title>
    <meta name="description" content="Christophe Bram is a freelance web developer in Stockholm who creates websites and JavaScript webapps.">
    <meta name="author" content="Christophe Bram">
    <meta name="keywords" content="web developer, freelance web developer, christophe bram, frontend, javascript, backend, java, sql">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="@routes.Assets.at("main-v1.css")">
</head>

<body id="@page">
    <div id="container">
        <header></header>
        @content
        <footer class="hidden-before-bubble-animation"></footer>
    </div>

    <!-- Javascripts -->
    <script src="@routes.Assets.at("main.js")"></script>

    <!-- FastClick init -->
    <script>
        window.addEventListener('load', function() {
            FastClick.attach(document.body);
        }, false);
    </script>

    @javascript

    </body>
</html>
