@main("Panta Rhei", "train-damage") {
<!--
    Content
-->
<div id="content">
    <h1>Train Damage mobile webapp</h1>

    <p id="intro">Train Damage is a mobile single-page JavaScript webapp created by <a
            href="http://www.appearnetworks.com" target="_blank">Appear</a> for <a href="http://www.tagkompaniet.se"
                                                                                   target="_blank">Tågkompaniet</a>. It
        works on iOS and Android devices, and can access native features via the <a href="http://cordova.apache.org"
                                                                                    target="_blank">Cordova</a> API. It
        communicates with the Backend via <a href="https://www.appeariq.com" target="_blank">Appear IQ</a>.</p>

    <h2>Work</h2>
    <p>I fully developed this single-page JavaScript webapp, based on the <a href="http://spinejs.com">SpineJS</a> MVC
        framework.</p>

    <h2>Screenshots</h2>
    <div>
        <ul><!--
         --><li>
                <p>Defect type</p>
                <img src="/assets/images/train-damage/damage-type.png"/>
            </li><!--

         --><li>
                <p>Defect description</p>
                <img src="/assets/images/train-damage/defect-description.png"/>
            </li><!--

         --><li>
                <p>Add pictures</p>
                <img src="/assets/images/train-damage/add-pictures.png"/>
            </li><!--

         --><li>
                <p>Edit pictures</p>
                <img src="/assets/images/train-damage/edit-pictures.png"/>
            </li><!--

         --><li>
                <p>Summary</p>
                <img src="/assets/images/train-damage/summary.png"/>
            </li><!--
     --></ul>
    </div>

    <div class="centered-contents">
        <a href="/">Home</a>
    </div>
</div>

} {
<!--
    Javascript
-->

}